.projects {
    align-items: center;
    justify-content: center;
    div {
        max-width: 700px;
        h1 {
            color: white;
            text-align: center;
        }
        p {
            color: white;
            text-align: center;
            margin: 0 auto;
            line-height: 1.5;
            font-family: 'Montserrat';
            font-weight: 200;
            margin: 20px 0px;
            font-size: 1em;
        }
        .cards {
            margin:  0 auto;
            @include centerAll(space-between, center);
            flex-direction: row;
            > .card-project {
                background-color: white;
                border-radius: 4px;
                height: 150px;
                width: 200px;
                transition: 1s all;
                &:hover {
                    transition: 1s all;
                    background-color: tomato;
                    color: white;
                }
                > a {
                    color: black;
                    font-weight: bold;
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    @include centerAll(center,center);
                    &:visited {
                        color: black;
                    }
                    &:hover{
                        color: white;
                    }
                }
                &:nth-child(2){
                    margin: 0% 5%;
                }
            }
        }
    }
    @media only screen and (max-width: 768px){
        div {
            h1 {
                font-size: 3em;
            }
            p {
                font-size: 0.8em;
            }
            .cards {
                height: 200px;
                flex-direction: column;
                justify-content: space-between;
                .card-project {
                    height: 50px;
                }
            }
        }
    }
}

//animacoes referente ao css transition group 


.projects-items-appear {
    opacity: 0;
    transform: translateY(-50%);
    transition: transform 600ms cubic-bezier(.57,.21,.69,3.25);    
}

.projects-items-enter-active {
    opacity: 1;
    overflow: hidden;
    transform: translateY(0%);
}

.projects-items-appear-done {
    opacity: 1;
    transition:  600ms all;
}


