//componentes e variaveis


.page-enter {
    opacity: 0;
    overflow: hidden;
  }

  .page-appear-active {
    overflow: hidden;
    background-color: black;
  }

  .page-enter-active {
    opacity: 1;
    overflow: hidden;
    transition: opacity 200ms ease-in;
  }
  .page-exit {
    transition: opacity 200ms ease-in;
    opacity: 1;
  }
  .page-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }


.page-container {
  max-height: 100vh;
  width: 100vw;
}


@import './reset.scss';
@import '../sass/variables.scss';
@import '../projetos/webedia/static/sass/Components/components';
@import '../projetos/pesquisa_de_livros/Pesquisa_de_livros.scss';
@import '../projetos/pg/src/styles/style.scss';
@import '../projetos/todo_/src/todo_app.scss';
@import '../pages/Home/Home.scss';
@import '../pages/Projetos/Projetos.scss';


