//componentes e variaveis


.page-enter {
    opacity: 0;
  }
  .page-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in;
  }
  .page-exit {
    opacity: 1;
  }
  .page-exit-active {
    opacity: 0;
    transition: opacity 100ms ease-in;
  }

  .title {
    font-family: "Montserrat";
    font-weight: 200;
}

.page-container {
  background-color: black;
  width: 100vw;
}



@import './reset.scss';
@import '../sass/variables.scss';
@import '../projetos/webedia/static/sass/Components/components';
@import '../projetos/pesquisa_de_livros/Pesquisa_de_livros.scss';
@import '../projetos/pg/src/styles/style.scss';
@import '../projetos/todo_/src/todo_app.scss';
@import '../pages/Home/Home.scss';
@import '../pages/Projetos/Projetos.scss';


.main-content {
  max-width: 75%;
  height: 92vh;
  width: 80%;
  margin: 0 auto;
  @include centerAll(center, center);
}