$blue_l:  rgb(80, 191, 255);

#book_container {
    width: 100vw;
    height: 100vh;
    @include centralizar();
    > #pesquisa {
            max-width: 500px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        > input {
            width: 75%;
            padding: 20px;
            border-radius: 4px;
            border: 1px solid #e2e2e2;
            transition: .3s all;
            &:focus{
                transition: .3s all;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            }
        }
        > button {
            border-radius: 4px;
            height: 60px;
            text-align: center;
            width: 20%;
            color: white;
            background-color: $blue_l;
            transition: .3s all;
            &:hover{
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                transition: .3s all;
                cursor: pointer;
                
            }
        }
    }
}

//livro

.livros_resultado {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-self: center;
    justify-self: center;
    margin-top: 40px;
    @media screen and (max-width: 568px) {
        grid-template-columns: 1fr;
        grid-gap: 5px;
        height: 0%;
        width: 90%;
    }
    > #livro {
        width: 100%;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        > #conteudo {
            display: flex;
          > img {
              float: left;
              height: 120px;
              width: 100px;
          }
          > p {
              font-size: 14px;
              font-size: bold;
              color: #333;
              float: right;
              margin: 10px;
              word-break: break;
              max-width: 70%;
          }
        }
    }

}

aside {
    position: absolute;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #333;
    transition: 1s;
    transform: translateX(-250px);
    @media screen and (max-width: 568px){
        background-color: transparent;
    }
    > .menu {
        position: absolute;
        width: 35px;
        top: 20px;
        right: 5px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        cursor: pointer;
        transition: 1s;
        > .barra {
            margin: 2px 0px;
            height: 4px;
            width: 30px;
            background-color: white;
            border-radius: 4px;
            transition: 1s;
            @media screen and (max-width: 568px){
                background-color: $blue_l;
            }
        }
    } 
}

.fechar {
    position: absolute;
    transition: 1s;
        &:nth-child(1){
            transform: rotate(45deg);
        }
        &:nth-child(2){
            display: none;
        }
        &:nth-child(3){
            transform: rotate(-45deg);
        }
}

.aparecer {
    transition: all 1s;
    transform: translateX(0);
}