//variaveis

$green: #25b36cf8;
$red: #e93e20f8;
$blue: #1fb2ccf8;
$cinza_claro: #f1f1f1;
$branco: #fff;

@keyframes encaixar {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}


input, button {
    outline: none;
    border: none;
}

input {
    background-color: white;
}

.edtInput {
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(34, 34, 34, 0.1);
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-align: center;
    #container {
        border-radius: 4px;
        width: 500px;
        box-shadow: 0px 0px 5px rgba(34, 34, 34, 0.1);
        @media screen and (max-width: 768px){
            width: 95vw;
            margin: 0 auto;
        }
        > form {
            border-radius: inherit;
            background-color: #08323ff8;
            > h1 {
                font-weight: bold;
                font-size: 22px;
                color: white;
                padding: 10px;
            }
            > div {
                display: flex;
                justify-content: space-between;
                > input {
                    width: 100%;
                    height: 30px;
                    padding: 0px 5px;
                    &::placeholder{
                        font-weight: bold;
                    }
                }
                > button {
                    height: 30px;
                    width: 50px;
                    font-weight: bold;
                    font-size: 14px;
                    text-shadow: 2px 0px 0px rgba(34, 34, 34, 0.1);
                    border: none;
                    outline: none;
                    color: white;
                    background-color:$green;
                }
            }
        }
         .todo_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $cinza_claro;
            padding: 20px;
            animation: encaixar .3s  ease-in-out;
            color: #333;
            &:nth-child(2n + 1){
                background-color: $branco;
            }
            > li {
                width: 73%;
                list-style-type: none;
                font-weight: bold;
                font-size: 20px;
                color: inherit;
                word-break: break-word;
                text-align: left;
            }
            > .action_buttons {
                display: flex;
                justify-content: space-around;
                width:25%;
            }
        }
        .btnUndo {
            height: 30px;
            width: 35px;
            border-radius: 4px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            background-color: $red;
            > i {
                color: white;
            }
        }

        .btnIcon {
            height: 30px;
            width: 35px;
            border-radius: 4px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            &:nth-child(1){
                background-color: $green;
            }
            &:nth-child(2){
                background-color: $blue;
            }
            &:nth-child(3){
                background-color: $red;
            }
            &:nth-child(4){
                background-color: $blue;
            }                    > i {
                color: white;
            }
        }
        .complete {
            background-color: $green!important;
            color: white;
            padding: 10px;
            > li {
                list-style-type: none;
                font-size: 14px;
            }
            > p {
                font-size: 11px;
                font-weight: bold;
                margin-right: 10px;
                width: 60%;
            }
        }
        > .div_complete {
            border-radius: inherit;
            background-color: #08323ff8;
            animation: encaixar .3s  ease-in-out;
            margin: 40px 0px 0px;
            > h2 {
                font-weight: bold;
                font-size: 22px;
                color: white;
                padding: 10px;
            }
        }
    }
}
@keyframes entrar{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}