//importando o scss das demais paginas
.home_header {
    height: 8vh;
    width: 100%;
    > nav {
        background-color: inherit;
        height: inherit;
        max-width: 75%;
        margin: 0 auto;
        width: inherit;
        @include centerAll(space-between, center);
        > a  {
            text-decoration: none;
            > h1 {
                color: white;
                width: 60%;
                padding: 8px;
                font-family: 'Montserrat';
                font-size: 2.2em;
            }
            &:visited{
                color: white;
            }
        } 
        > ul {
            width: 20%;
            @include centerAll(space-around, center);
            flex-direction: row;
            > li {
                list-style-type:none;
                > a {
                    color: white;
                    text-decoration: none;
                    &:visited {
                        color: white;
                    }
                }
            }
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');





.main-content {
    max-width: 75%;
    height: 92vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: column;
    #title-text {
        color: white;
        margin-bottom: 20vh;
        > h1 {
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 5em;
            pointer-events: none;
        }
    }
    @media only screen and (max-width: 768px){
        div {
            margin: 0 auto; 
            #title-text {
                margin-bottom: 10vh;
                h1 {
                    word-break: break-all;
                    font-size: 3.2em;
                }
            }
        }
    }
    @media only screen and (max-width: 340px){
        div {
            #title-text {
                h1 {
                    font-size: 2.8em;
                }
            }
        }
    }
}


.lfm__typing_effect {
    font-weight: 200;
    margin-top: 5px;
    text-align: left;
    max-width: 350px;
}



.title {
    font-weight: 600;
    font-family: 'MontSerrat';
    font-size: 4em;
    color: white;
}

//animacoes referente ao css transition group

.title-enter-done {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 400ms all;
}
.title-appear {
    opacity: 0;
    transform: translateX(-200%);
    transition: transform 400ms all;
    
}
.title-appear-done-active {
    opacity: 1;
    transition: opacity 400ms all;
}
.title-enter-active {
    opacity: 1;
    transform: translateX(50%);
    transition: transform 400ms all;
    pointer-events: none;
}
.title-exit {
    opacity: 0;
    color: white;
    transform: translateX(100%);
    transition: transform 400ms all;
}
.title-exit-active {
    opacity: 0;
    transition: opacity 400ms all;
}
.title-appear-done {
    opacity: 1;
    pointer-events: none;
    transition:  1000ms all;
}





