//importando o scss das demais paginas
.home_header {
    height: 8vh;
    width: 100%;
    > nav {
        background-color: inherit;
        height: inherit;
        max-width: 75%;
        margin: 0 auto;
        width: inherit;
        @include centerAll(space-between, center);
        > a  {
            text-decoration: none;
            > h1 {
                color: white;
                width: 60%;
                padding: 8px;
                font-family: 'Montserrat';
                font-size: 2.2em;
            }
            &:visited{
                color: white;
            }
        } 
        > ul {
            width: 20%;
            @include centerAll(space-around, center);
            flex-direction: row;
            > li {
                list-style-type:none;
                > a {
                    color: white;
                    text-decoration: none;
                    &:visited {
                        color: white;
                    }
                }
            }
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');



.main-content {
    max-width: 75%;
    height: 92vh;
    width: 80%;
    margin: 0 auto;
    @include centerAll(center, center);
    > div > #title-text {
        color: white;
        > div {
            margin-bottom: 10vh;
            > h1 {
                font-family: "Montserrat";
                font-weight: 200;
                font-size: 3.2em;
            }
        }
    }
}
.lfm__typing_effect {
    font-weight: 200;
    margin-top: 5px;
    text-align: center;
}

.item-enter-done {
    opacity: 1;
    color: white;
    transition: opacity 2000ms ease-in;
  }
  .item-appear {
    opacity: 0;
    transition: opacity 1000ms ease-in;

  }
  .item-appear-done-active {
      opacity: 1;
      transition: opacity 2000ms ease-in;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 2000ms ease-in;
  }
  .item-exit {
    opacity: 0;
    color: white;
    transition: opacity 2000ms ease-in;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 2000ms ease-in;
  }
  .item-appear-done {
      opacity: 1;
      color: white;
      transition: 2000ms ease-in;
  }





