
$mainColor: rebeccapurple;
$secondaryColor: white;

@mixin hoverBtn {
    transition: ease-in-out .4s;
    background-color:$mainColor ;
    color: $secondaryColor;
}

@mixin  centerAll {
    display: flex;
    align-items: center; 
    justify-content: center;
}

@keyframes toShow{
    0% {
        opacity: 1;
        transform: translateX(-80px)
    }
    100% {
                transform: translateX(0px);
                display: none;
    }
}

* {
    margin: 0;
    padding:0;
    font-family: Helvetica, sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    .hide {
        display: none!important;        
        transition: .3s all;
    }
    .show {
        animation: .4s toShow ease;
        @include centerAll();
        max-width: 600px; 
        width: 100%;
        text-align: center;
        height: 35px;
        border: 1px solid $mainColor;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    > #content {
        border: 1px solid $mainColor;
        width: 600px;
        position: relative;
        border-radius: 8px 8px 0px 0px;
        > #search {
            margin: 0 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            > input {
                border: none;
                border-radius: 8px 8px 0px 0px;
                color: $mainColor;
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
                height: 50px;
                &::placeholder{
                    color: $mainColor;
                }
            }
            > button {
                margin: 0 auto;
                margin-top: 10px;
                max-width: 250px;
                width: 100%;
                height: 30px;
                border:none;
                border-radius: 4px;
                border: 1px solid $mainColor;
                background-color: transparent;
                color: $mainColor;
                font-size: 1.3em;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    @include hoverBtn()
                }
            }
        }
        > #getUser{
            text-align: center;
            margin: 20px 0px;
            > button {
                height: 40px;
                width: 40px;
                border: none;
                border-radius: 50px;
                background-color: $mainColor;
                color: $secondaryColor;
                font-weight: bold;
                font-size: 20px;
                text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
            }
        }
        > #info {
            display: flex;
            max-height: 133px;
            height: 100%;
            width: 90%;
            margin: 20px;
            background-color: $mainColor;
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            color: $secondaryColor;
            > #img {
                max-width: 133px;
                > img {
                    height: 100%;
                    border-radius: 4px 0px 0px 4px;
                }
            }
            > #description {
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 100%;
                > h3 {
                    margin-left: 20px;
                    margin-top: 15px;
                    font-size: 18px;
                }
                > p {
                    margin-left: 20px;
                    font-size: 12px;
                }
                #boxInfos{
                    display: flex;
                    align-content: flex-start;
                    height: 100%;
                    > .apiInfos {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: column;
                        margin-top: 14px;
                        font-size: 14px;
                        max-height: 20px;
                        width: 33%;
                        text-align: center;
                        > h3 {
                            font-weight: 200;
                        }
                        > h4 {
                            margin-top: 5px;
                            font-size: 12px;
                        }
                    }
                }
                
            }
            
            #url {
                width: 15%;
                background-color: $mainColor;
                border-radius: 0px 4px 4px 0px;
                @include centerAll();
                > a {
                    font-size: 20px;
                    font-weight: bold;
                    text-decoration: none;
                    color: $secondaryColor;
                    &:visited{
                        color: $secondaryColor;
                    }
                }
                &:hover{
                    transform: all .3s;
                    color: $mainColor;
                    background-color: $secondaryColor;
                    > a {
                        color: $mainColor;
                    }
                }
            }
        }
        > #repoInfos {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: wrap;
            > div {
                margin: 0 auto;
                width: 49%;
                margin: 10px 0px;
                background-color: $secondaryColor;
                box-shadow: 2px 5px 4px rgba(0,0,0,0.2);
                background-color: $mainColor;
                border-radius: 4px;
                color: $secondaryColor;
                transition: all .3s;
                > h4 {
                    font-size: 14px;
                    font-weight: 200;
                    font-weight: bold;
                    margin: 5px 0px;
                    margin-left: 10px;
                    color: inherit;
                    > span {
                        color: inherit;
                        font-weight:lighter;
                        font-size: 12px;
                    }
                    > a{
                        color: inherit;
                        text-decoration: none;
                        &:visited{
                            outline: none;
                        }
                    }
                }
                &:hover {
                    background-color: $secondaryColor;
                    color: $mainColor!important;
                    transform: scale(1.2);
                    transition: all .3s;
                }
            }
            
        }
        > #toMoreRepos {
            max-width: 80%;
            text-align: center;
            padding: 10px 0px;
            border: 1px solid $mainColor;
            margin: 10px auto 15px auto;
            > #callToAction {
                text-decoration: none;
                font-weight: bold;
            }
        }
        > nav {
            display: flex;
            height: 50px;
            width: 100%;
            bottom: 0%;
            background-color: $mainColor;
            color: $secondaryColor;
            margin-top: 10px;
            > div {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                transition: all .4s;
                &:hover{
                    transition: all .1s;
                    background-color: $secondaryColor;
                    color: $mainColor;
                }
                > a {
                    color: inherit;
                    outline: none;
                    &:visited{
                        outline: none;
                    }
                }
            }
        }
    }
}
